/* HEX */
.color-1 { color: #ea526fff;}
.bg-color-1 { background: #ea526fff;}
.color-2 { color: #070600ff;}
.bg-color-2 { background: #070600ff;}
.color-3 { color: #f7f7ffff;}
.bg-color-3 { background: #f7f7ffff;}
.color-4 { color:  #23b5d3ff;}
.bg-color-4 { background:  #23b5d3ff;}
.color-5 { color: #279af1ff; }
.bg-color-5 { background: #279af1ff; }

body {
font-family: 'Londrina Shadow', cursive;
background-color: #279af1ff;
color: #f7f7ffff;
}

.container {
  max-width: 1140px;
  width: 100%;
}

div {
  text-align: center;
}

h1 {
  font-size: 110px;
  font-weight: 700;
  text-align: center;
}

h4 {
  font-size: 30px;
  text-align: center;
  color: 	#daf8e3;
  
}

h2 {
  font-size: 45px;
  text-align: left;
  color: 	#97ebdb;
}

a {
  color: 	#005582;
  text-decoration: none ;
  }

a:hover {
  color: #97ebdb;
}